In [1]:
def printEven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt;
        cnt=cnt+1;
    return sum;
print(printEven(20));

90

## example function
## test cases: 
 ##        12.......

In [2]:
def factorsList(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i=i+1;
    return ;
factorsList(12);

1 2 3 4 6

##  list in python

## list can be written in python with square brackets and each item in the list separeted by comma operator.....[item 1,item2,..itemn]  

## list can be anything...int, char, float,string,etc

### Example of list 


### list1=[1,2,3,4]
### list2=["a","b"]
### list3=["maths","physics"]

In [7]:
list1=[1,2,3,4,5];
#enter list 
print(list1);
#list[0]
print(list1[0]);

[1, 2, 3, 4, 5]
1

In [10]:
list2=["sharvani","navya"];
#enter list
print(list2);
#list[1];
print(list2[1]);

['sharvani', 'navya']
navya

In [11]:
list2=["sharvani","navya"];
for x in list2:
    print(x,end=" ");

sharvani navya

In [21]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(x,end=" ");
    
print();
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[3:-3]);
print(list1[4:-4]);
print(list1[5:-5]);
print(list1[::2]);
print(list1[::3]);
print(list1[::4]);
print(list1[::-2]);
print(list1[::-3]);
print(list1[::-4]);
print(list1[::-5]);
print(list1[-1]);

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7]
[5, 6]
[]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[10, 8, 6, 4, 2]
[10, 7, 4, 1]
[10, 6, 2]
[10, 5]
10

In [27]:
list2=["BMW","BENZ","AUDI","RANGE ROVER"];
print(list2);
list2[2]=15;
print(list2);
del list2[3];
print(list2);
list2="GITAM";
print(list2);
list1=[1,2,3];
print(list1);
print(list1+list2);

['BMW', 'BENZ', 'AUDI', 'RANGE ROVER']
['BMW', 'BENZ', 15, 'RANGE ROVER']
['BMW', 'BENZ', 15]
GITAM
[1, 2, 3]

TypeError: can only concatenate list (not "str") to list

In [31]:
list1=["GITAM","PYTHON","RAPTOR",1,5,"PYTHON"]
print(list1);
list1.index("PYTHON")
list1.index(1)
print(len(list1))
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2020)
print(list1)

list1.reverse()
print(list1)

['GITAM', 'PYTHON', 'RAPTOR', 1, 5, 'PYTHON']
6
['GITAM', 'PYTHON', 2019, 'RAPTOR', 1, 5, 'PYTHON']
7
['GITAM', 'PYTHON', 2019, 'RAPTOR', 2020, 1, 5, 'PYTHON']
['PYTHON', 5, 1, 2020, 'RAPTOR', 2019, 'PYTHON', 'GITAM']

In [36]:
def linearsearch(a,tarItem):
    flag=0;
    for i in range(len(a)):
        if a[1]==tarItem:
            flag=1;
            break
        if(flag!=0):
            print("target item is found");
        else:
            print("target item is not found");
a=[16,2,12,6,9,7,1]
linearsearch(a,61)

target item is not found
target item is not found
target item is not found
target item is not found
target item is not found
target item is not found
target item is not found

In [37]:
list1=["GITAM","PYTHON","RAPTOR",1,5,"PYTHON"]
print(list1);
list1.index("PYTHON")
list1.index(1)
print(len(list1))
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2020)
print(list1)

list1.reverse()
print(list1)

['GITAM', 'PYTHON', 'RAPTOR', 1, 5, 'PYTHON']
6
['GITAM', 'PYTHON', 2019, 'RAPTOR', 1, 5, 'PYTHON']
7
['GITAM', 'PYTHON', 2019, 'RAPTOR', 2020, 1, 5, 'PYTHON']
['PYTHON', 5, 1, 2020, 'RAPTOR', 2019, 'PYTHON', 'GITAM']

In [2]:
def linearExample1(a,tariteam):
    sum=0;
    for i in range(len(a)):
      sum=sum+a[i]
    return sum
a=[1,5,9,6,5,15,12,5]
linearExample1(a,5)

58